body{
    background-image: url('../../uploads/images/maxresdefault.jpg');
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
}
.cust_container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 25%;
}
.cust_container img{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.dark_bg{
	background-color: rgba(0,0,0,0.7);
	padding: 20px;
	border-radius: 5px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}
.dark_bg label{
	color: #ffffff;
}